@using System.ComponentModel.DataAnnotations
@using Common.Utilities
@using Entity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Presentation.DTO

@{
    var model = ViewBag.Model;
    var selectedFilters = ViewBag.SelectedFilters as Dictionary<string, string>;
    var sums = ViewBag.Sums as Dictionary<string, string> ?? new();
    var filters = model.Filters as List<Field>;
    var jsFiles = ViewBag.JsFiles as List<string> ?? [];
    var components = ViewBag.Components as List<string> ?? [];
    ViewData["Title"] = "لیست " + Model.Title;
}

@if (filters is not null && filters.Any())
{
    <div class="card mb-3">
        <div class="card-body p-1">
            <div class="accordion border-0" id="filters-accordion">
                <div class="card shadow-none border mb-0">
                    <div class="card-header" id="headingOne">
                        <h5 class="my-0">
                            <button class="btn btn-link ml-4 align-self-center collapsed" type="button"
                                    style="box-shadow: none; text-decoration: none"
                                    data-bs-toggle="collapse" data-bs-target="#collapse-filters" aria-expanded="false"
                                    aria-controls="collapse-filters" autocomplete="off">
                                فیلتر پیشرفته
                            </button>
                        </h5>
                    </div>

                    <div id="collapse-filters" class="accordion-collapse collapse" aria-labelledby="heading-filters"
                         data-bs-parent="#filters-accordion">
                        <div class="accordion-body">

                            <form asp-action="Index" method="get">
                                <div class="row">
                                    @foreach (var filter in filters)
                                    {
                                        var selectedValue = selectedFilters?.GetValueOrDefault(filter.Name);
                                        if (!string.IsNullOrEmpty(selectedValue))
                                        {
                                            filter.Items = filter.Items.Select(i =>
                                            {
                                                if (i.Value == selectedValue)
                                                    i.Selected = true;
                                                return i;
                                            }).ToList();
                                        }

                                        <div class="form-group col-md-4">
                                            <label for="@filter.Name">@filter.Label</label>
                                            <select class="form-control select2" name="Filters[@(filter.Name)]"
                                                    asp-items="@filter.Items">
                                            </select>

                                        </div>
                                    }
                                </div>
                                <button type="submit" class="btn btn-primary">جستجو</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="card">
    <div class="card-body">

        <div class="d-flex justify-content-between">
            @if (model.ViewSetting.Create)
            {
                <a asp-action="Create" class="btn btn-primary">افزودن</a>
            }
        </div>
        <table class="table table-hover mt-2">
            <thead>
            <tr>
                @foreach (var item in model.Columns)
                {
                    <td>@item.Name</td>
                }
                @if (model.ListActions.Count > 0)
                {
                    <td>عملیات</td>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var row in model.Rows)
            {
                <tr>
                    @foreach (var col in model.Columns)
                    {
                        var property = row.GetType().GetProperty(col.Value);
                        var value = property?.GetValue(row);
                        if (property is not null && property.PropertyType.IsEnum)
                        {
                            var field = property.PropertyType.GetField(value.ToString());
                            if (field is not null)
                            {
                                var display = (DisplayAttribute)Attribute.GetCustomAttribute(field, typeof(DisplayAttribute));
                                value = display != null ? display.Name : value.ToString();
                            }
                        }

                        <td>@value</td>
                    }
                    @if (model.ListActions.Count > 0)
                    {
                        <td>
                            <div class="dropdown d-inline-block">
                                <a class="nav-link dropdown-toggle arrow-none" style="padding: .5rem 1rem"
                                   data-bs-toggle="dropdown"
                                   href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v font-20 text-muted"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dLabel6" x-placement="bottom-start"
                                     style="text-align: right;position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 36px, 0px);">

                                    @foreach (var listAction in (model.ListActions as List<ListAction>)!)
                                    {
                                        if (string.IsNullOrEmpty(listAction.Url))
                                        {
                                            <a href="@listAction.RowUrl" data-id="@row.Id"
                                               class="dropdown-item @listAction.AClass">
                                                <i
                                                    class="@listAction.Class"></i>
                                                @listAction.Title
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-action="@listAction.Url" asp-route-id="@row.Id"
                                               class="dropdown-item @listAction.AClass">
                                                <i
                                                    class="@listAction.Class"></i>
                                                @listAction.Title
                                            </a>
                                        }
                                    }
                                </div>
                            </div>
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
        <div class="row">
            @foreach (var sumItem in sums)
            {
                <div class="col-3 d-flex">
                    <div class="col">@sumItem.Key</div>
                    <div class="col">@sumItem.Value</div>
                </div>
            }
        </div>

    </div>

    @foreach (var component in components)
    {
        <partial name="@component"/>
    }
</div>

@section Scripts{

    @foreach (var js in jsFiles)
    {
        <script src="@js"></script>
    }
    <script>
        $(".ask").click(function (e) {
            e.preventDefault()
            Swal.fire({
                title: 'آیا مطمئن هستید ؟',
                text: "پس از تایید امکان بازگشت این عملیات وجود ندارد.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'تایید',
                cancelButtonText: 'لغو',
            }).then(res => {
                if (res.value){
                    window.location.href = $(this).attr("href")
                }
            })

        })
    </script>
}